.splash {
    background-image: url('./Images/home/splash.jpg');
    animation-name: fadeOut;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

.container {
    position: fixed;
    background: linear-gradient(180deg, #02454F 0%, #025D6A 13.54%, #037586 21.88%, #037688 28.65%, #037889 35.94%, #038699 68.75%, #038699 68.76%, #037D8F 77.08%, #026D7D 84.90%, #002E35 100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.back-img {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 35%;
}

.logo-btn {
    position: absolute;
    margin: 1rem;
    margin-left: 85%;
    display: flex;
    width: 8.5rem;
    height: 8rem;
}
.logo{
    border-radius: 50px;
}

.topic {
    text-align: center;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1.1rem;
    font-weight: 600;
}

.topic-main {
    width: 20rem;
    height: 3.5rem;
    background: linear-gradient(180deg, #1A8C9A 0%, #17818E 31.77%, #147580 52.08%, #0F5E68 87.49%, #04353B 87.50%);
    border-radius: 35px;
    color: white;
    display: flex;
    position: absolute;
    margin-top: 5rem;
    margin-left: 40rem;
}

.topic-img {
    width: 1.9rem;
    height: 1.4rem;
    margin-top: 0.9rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.option {
    background: linear-gradient(180deg,#00424C 0%, #0B5561 20%, #0E5B67 40%, #11616E 50%, #136572 60%, #166A76 80%, #19707D 90%, #3099A9 100%);
    border-radius: 15px;
    position: absolute;
    width: 16rem;
    height: 24rem;
    margin-top: 15rem;
    margin-left: 5rem;
}
.propic {
    position: absolute;
    width: 10rem;
    margin: 1rem;
    margin-top: 1rem;
    margin-left: 2.95rem;
}
.people {
    position: absolute;
    align-items: center;
    margin-left: 4rem;
}.name-bar{
    height: 2rem;
    margin-top: 13rem;
    margin-left: 1.4rem;
    background: #002640;;
    border-radius: 15px;
    width: 13rem;
}

.details{
    color:white;
    text-align: center;
    padding-top: 0.35rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.name{
    color: beige;
    text-shadow: 0px 4px 4px #000000;
    text-align: center;
    font-size: 0.7rem;
    padding-top: 0.5rem;
    line-height: 1.2rem;
    letter-spacing: 0.15rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}.category-logo{
    display: flex;
}
.cat-logo{
    height: 1.7rem;
    margin-top: 2.35rem; 
    margin-left: 1rem;   
}
.student{
    width: 7rem;
    height: 1.7rem;
    background: #FF9900;
    border-radius: 15px;
    margin-top: 2.3rem;
    margin-left: 0.9rem;
}
.text{
    margin-top: 0.31rem;
    margin-left: 1rem;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.11rem;
    font-family: 'Poppins', sans-serif;
}
.op2 {
    margin-left: 25rem;
}
.op3{
    margin-left: 45rem;
}
.op4{
    margin-left: 65rem;
}