* {
  font-family: "Roboto", sans-serif;
  margin-left: 0.5rem;
  background-color: #00424d;
  margin-top: 0.5rem;
}

p {
  font-family: "Merienda", cursive;
}

header {
  display: flex;
}

h1 {
  font-family: "Kreon", serif;
  /* margin-left: 34rem; */
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 2.5rem;
  margin-top: 6rem;
}

h3 {
  font-family: "Grandstander", cursive;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}

.logo {
  height: 7rem;
  cursor: pointer;
}
.navlinks-group {
  display: flex;
  justify-content: end;
  margin-left: 20rem;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 1rem;
}

.nav-links {
  color: white;
  padding-left: 1rem;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.nav-links:hover,
nav ul li a:hover,
.active {
  color: aqua;
  transform: scale(1.09);
  transition: 0.5s ease;
  --_p: 100%;
}

nav ul li a,
.active {
  text-decoration: none;
  color: white;
  --s: 0.1em;
  --c: aqua;
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #000 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}

nav ul {
  list-style: none;
}
.active {
  color: aqua;
}

.navlinks button {
  font-size: 0.6rem;
  height: 3rem;
  width: 6.5rem;
  margin-left: 3rem;
  padding-bottom: 0.6rem;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #094ca8;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
  margin-top: 0;
  cursor: pointer;
}

.navlinks button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #f0cf2c;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
  margin-top: 0.5rem;
}

.navlinks button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.navlinks button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 0px 12px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.navlinks button:hover span {
  font-weight: 700;
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.frist-row-footer {
  background-color: #072428;
  display: flex;
  justify-content: space-between;
  border-radius: 3rem;
  height: 15rem;
  margin-top: 5rem;
  margin-right: 1rem;
}

.f-logo-footer {
  background: none;
  padding: 1rem;
  width: rem;
}
.s-topl-footer {
  background: none;
}

.footer-t-items {
  display: flex;
}

.items-t-footer {
  background: none;
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 2px;
  line-height: 25px;
}
.items-ex-footer {
  background: none;
}

.t-email-footer {
  background: none;
  /* padding-right: 5rem; */
}

.items-t-footer:hover {
  color: #3898ec;
  transition: 0.5s ease;
  transform: scale(1.04);
}

.input-group {
  display: flex;
  align-items: center;
}

.input-email {
  min-height: 50px;
  max-width: 150px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid #5e4dcd;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit {
  min-height: 50px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #5e4dcd;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button--submit:hover {
  background-color: #040275;
  transform: scale(1.1);
  transition: 1s ease;
}

.input:focus,
.input:focus-visible {
  border-color: #3898ec;
  outline: none;
}

.imgpayment {
  cursor: pointer;
}

.followus {
  background: none;
  margin-right: 3rem;
}

.social-media-icon {
  background: none;
  height: 2.5rem;
}

.social-media-icon:hover {
  transform: scale(1.15);
  transition: 1s ease;
}

.product-text {
  color: rgb(156, 152, 152);
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding-bottom: 15px;
}
