* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.back-img {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo {
  position: absolute;
  height: 5rem;
  margin: 1rem;
  cursor: pointer;
}

.nav-btn {
  position: absolute;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  margin-left: 25rem;
}

.nav-bar {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0 1rem 1rem 1rem;
  text-transform: uppercase;
}

.nav-links {
  font-family: 'Lobster', cursive;
  text-decoration: none;
  margin-left: 4.5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 95.52%;
  text-align: center;
  letter-spacing: 0.16em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
  margin-top: 2rem;
}

.nav-links:hover {
  color: #ff8515;
  transition: 0.5s ease;
  transform: scale(1.09);
}
.frm-btn {
  margin-left: 1rem;
  background: linear-gradient(
    89.71deg,
    #ff8515 -3.22%,
    #ff8a14 48.26%,
    #ffd600 99.74%
  );
  border: none;
  border-radius: 30px;
  height: 3.5rem;
  width: 9rem;
  font-size: 0.55rem;
  line-height: 0.8rem;
  margin-top: 1rem;
  color: rgb(0, 0, 0);
  
}

.frm-btn:hover {
  background: linear-gradient(
    89.71deg,
    #ffd600 -3.22%,
    #ff8a14 48.26%,
    #ff8515 99.74%
  );
  box-shadow: 0px 4px 15px 5px #FFA90C;
  color: white;
  transform: scale(1.03);
  transition: 0.7s ease;
}

.hero-section {
  position: absolute;
}

.discription {
  margin-top: 15rem;
  margin-left: 4rem;
  text-transform: uppercase;
}
.main-head {
  font-size: 4rem;
  color: #ffffff;
  /* letter-spacing: 0.185em; */
  color: rgba(255, 255, 255, 0.927152);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
  padding-bottom: 0.7rem;
  /* font-weight: 400; */
}

.subheading {
  position: absolute;
  width: 40rem;
  font-size: 1.45rem;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
  font-weight: 400;
  padding-left: 0.5rem;
}

.paragraph {
  position: absolute;
  font-size: 0.9rem;
  position: absolute;
  padding-top: 4rem;
  color: #ffffff;
  padding-left: 0.5rem;
  line-height: 1.9rem;
  width: 36rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
  font-weight: 400;
}
.option-blog {
  position: absolute;
}

.blogoption1 {
  position: absolute;
  width: 11rem;
  background: linear-gradient(
    180deg,
    rgba(150, 97, 72, 0.927152) 0%,
    rgba(161, 110, 86, 0.927152) 16.67%,
    rgba(165, 114, 91, 0.927152) 38.54%,
    rgba(169, 120, 97, 0.927152) 62.5%,
    rgba(174, 125, 103, 0.927152) 79.17%,
    rgba(178, 130, 109, 0.927152) 87.5%,
    rgba(201, 156, 138, 0.927152) 100%
  );
  border-radius: 30px;
  margin-top: 10rem;
  margin-left: 48rem;
}
.blogoption1:hover{
  transition: 0.8s ease;
  transform: scale(1.16);
  background: linear-gradient(
    180deg,
    rgba(201, 156, 138, 0.927152) 0%,
    rgba(178, 130, 109, 0.927152) 16.67%,
    rgba(174, 125, 103, 0.927152) 38.54%,
    rgba(169, 120, 97, 0.927152) 62.5%,
    rgba(165, 114, 91, 0.927152) 79.17%,
    rgba(161, 110, 86, 0.927152) 87.5%,
    rgba(150, 97, 72, 0.927152) 100%
  );
}

.img-blog {
  position: relative;
  height: 9rem;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-left: 1.3rem;
  padding-top: 1rem;
}

.topic {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  padding-left: 0.7rem;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 0%;
  text-align: center;
  letter-spacing: 0.065em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}
.student-pro {
  display: flex;
  margin-bottom: 0.8rem;
  padding-top: 1rem;
  justify-content: center;
  padding-right: 1rem;
}

.student-typo {
  font-family: "Stick No Bills", sans-serif;
  padding-top: 0.25rem;
  color: white;
  text-align: center;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
}
.profile-icon{
  height: 1.5rem;
  padding-left: 1rem;
  padding-top: .1rem;
  margin-top: .2rem;
}

.student-pro{
  transition: 0.5s ease;
  transform: scale(1.06);
}
.student-typo:hover{
  color: #ff9f46;
}
.option2blog{
  margin-left: 63rem;
}
.op2{
  margin-left: 2.3rem;
}
.tab-link{
  text-decoration: none;
}
.row2option{
  margin-top: 15rem;
}
.option3topic{
  font-size: 1rem;
  margin-right: 0.3rem;
}
.op4{
  margin-left: 1rem;
}