* {
  top: 0;
  bottom: 0;
}

h1 {
  font-family: "Belanosima", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 4px 4px 0 #000;
  line-height: 4rem;
  letter-spacing: 2px;
}

h2,
h3 {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  
  /* background: none; */
}

h3{
  font-family: "Grandstander", cursive;
  text-transform: none;
}

h5 {
  color: rgb(61, 61, 61);
  font-size: 1rem;
  /* letter-spacing: 1px; */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  background: none;
  font-weight: 500;
}

.form {
  background-color: rgb(255, 255, 255) !important;
  z-index: 999;
  padding: 1rem;
  width: 96%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 8rem;
}

.name,
.contact {
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes headerhero {
  from {
    transform: translateX(-400px);
  }
  to {
    transform: translateX(center);
  }
}

.hero-header {
  animation-name: headerhero;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.contact {
  margin-right: 1.5rem;
}

.contact input,
.name input {
  color: rgb(100, 100, 100);
  font-weight: 400;
  letter-spacing: 1px;
  display: flex;
  width: 20rem;
  height: 2rem;
}

.contact h5,
.name h5 {
  margin-top: 1.5rem;
  padding-right: 1rem;
}

.rating {
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 3rem;
}

.rating h5 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.rating label {
  background: none;
  display: flex;
  margin-top: 6rem;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.radiobtns {
  cursor: pointer;
  display: flex;
  background: none;
}

.ratingdis {
  background: none;
  justify-content: flex-start;
  margin-left: 5rem;
}

.ratingdis textarea {
  /* padding: 0; */
  width: 100%;
  margin: 0;
  margin-top: 0;
}

.ratingdis label {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.radiobtns {
  width: 40rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  cursor: pointer;
}

.radiobtns label {
  /* display: flex; */
  position: relative;
  /* position: absolute; */
  left: -2.2rem;
  top: -1.5rem;
  /* margin-top: 0; */
}

form .button-submit-feedback {
  width: 7rem;
  height: 3rem;
  /* display: flex; */
}

.submitbtn-feedback {
  display: grid;
  justify-content: end;
  margin-right: 5rem;
}

.submitbtn-feedback .button-submit-feedback {
  background: none;
  /* border: 1px solid seagreen; */
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s ease;
  background-color: #094ca8;
  color: white;
  /* background-image: linear-gradient(315deg, aqua 0%, #00ffff 74%); */
}

.submitbtn-feedback .button-submit-feedback:hover {
  background-color: #006aff;
  transform: scale(1.04);
  transition: 0.5s ease-in;
  /* border-radius: 20px; */
  /* box-shadow: 0 4px 4px 2px #006aff; */
  border: none;
}

.select-items {
  margin-top: 5rem;
}

select#select {
  width: 30vh;
  height: 2.5rem;
  border-radius: 20px;
  padding-left: 1rem;
}

select#select option {
  background: none;
  border-radius: 15px;
}

.problemdis {
  margin: 0 auto;
  margin-top: 5rem;
  background: none;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.problemdis label:hover {
  color: #094ca8;
}

.problemdis textarea {
  margin-top: 2rem;
  width: 60rem;
  border-radius: 20px;
  padding-top: 20px;
}

.support-table {
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.support-table h3 {
  background: none;
  color: #000;
  letter-spacing: 3px;
}
.support-table table {
  margin-top: 2rem;
  width: 50rem;
  height: 25rem;
  /* border: 1px solid #000; */
  padding: 1rem;
  border-radius: 15px;
}

.support-table table td,
.support-table table th,
.support-table table tr {
  width: 122px;
  height: 1px;
  background: white;
  text-align: center;
  border: 1px solid #000;
}

.check-container input {
  background: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-container {
  background: none;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #bdbdbd;
  transition: all 0.3s;
  border-radius: 5px;
  margin: 0 auto;
}

.check-container input:checked ~ .checkmark {
  background-color: #47da99;
  animation: pop 0.5s;
  animation-direction: alternate;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-container input:checked ~ .checkmark:after {
  display: block;
}

.check-container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
