body{
  background-color: #00424d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
  width: 1000px;
  margin: auto;
  transition: 0.5s;
}
header{
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-top: 50px;
}
.logo-btn {
  position: absolute;
  margin-left: -15rem;
  display: flex;
  width: 8.5rem;
  height: 8rem;
}
header .shopping{
  position: relative;
  text-align: right;
}
header .shopping img{
  width: 40px;
  margin-top: 18px;
}
header .shopping span{
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -10px;
  margin-top: 17px;
  left: 80%;
  padding: 2px 8px;
}
.list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 50px;
}
.card{
  position: fixed;
  top: 0;
  left: 100%;
  width: 500px;
  background-color: #39332F;
  height: 100vh;
  transition: 0.5s;
}
.card h1{
  color: #ffd600;
  font-weight: 100;
  margin: 0;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}
.card .checkout{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr)  
}
.card .checkout div{
  background-color: #FFA90C;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.card .checkout div:nth-child(2){
  background-color: #b7b9bc;
}
.active .card{
  left: calc(100% - 500px);
}
.active .container{
  transform: translateX(-200px);
}
.list .item{
  text-align: center;
  background-color: rgb(213, 218, 218);
  padding: 20px;
  box-shadow: 0 50px #00424d;
  letter-spacing: 1px;
}
.list .item img{
  width: 90%;
}
.list .item .title{
  font-weight: 600;
}
.list .item .price{
  margin: 10px;
}
.list .item button{
  background-color: #1C1F25;
  color: #c3bebe;
  padding: 10px;
  width: 100%;
}
.listCard li{
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  color: #ffffff;
  row-gap: 10px;
  margin-bottom: 20px;
}
.listCard li div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.listCard li img{
  width: 90%;
}
.listCard button{
  width: auto;
  background-color: #a2a5a8;
  border-radius: 10px;
}
.listCard .count{
  margin: 0 10px;
}
