body {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #00424d;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #87bfff;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-around;
}
hr{
  height: 0.2rem;
  border: none;
  background-color: #000;
}
.logo {
  height: 7rem;
  cursor: pointer;
}

.navlinks-group {
  display: flex;
  justify-content: end;
  margin-left: 30rem;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-top: 2.7rem;
}

.nav-links {
  color: white;
  padding-left: 1rem;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.nav-links:hover,
nav ul li a:hover {
  color: aqua;
  transform: scale(1.09);
  transition: 0.5s ease;
  --_p: 100%;
}

nav ul li a {
  text-decoration: none;
  color: white;
  --s: 0.1em;
  --c: aqua;
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #000 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}

nav ul {
  list-style: none;
}
header .shopping{
  position: relative;
  text-align: right;
}
.shopping {
  width: 40px;
  margin-top: -10px;
}
.checkout-img{
  width: 120px;
}
.bb{
  width: 100px;
  height: 100px;
}

#empty-cart-message{
  text-align: center;
  color: #fdf9f9;
  font-size: 45px;
  font-weight: 500;
  margin-top: 12rem;
  
}
.table-row{
  font-size: 25px;
  font-weight: 500;
  color: azure;
  align-self: auto;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.checkout-img{
  margin-left: 7.5rem;
}
.remove-button{
  margin-left: 2rem;
  background-color: rgb(218, 233, 233);
  color: #0f0f0f;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
}
.remove-button:hover{
  background-color: aqua;
  box-shadow: #0f0f0f;
}
#item-names {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}

#price-tag {
  color: rgb(8, 8, 8);
  font-weight: 400;
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
}

#quantity-tag {
  color: rgb(15, 15, 15);
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

#sub-total {
  font-weight: 300;
  color: rgb(12, 12, 12);
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
.checkout-btn{
  width: 18rem;
  height: 4.7rem;
  font-size: 1.8rem;
  background-color: rgb(7, 199, 109);
  border-radius: 28px;
  color: #02244b;
  margin-left: 75%;
  margin-top: 20rem;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.total-row{
  font-size:40px;
  color: azure;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
}
