* {
  font-family: "Roboto", sans-serif;
  margin-left: 0.5rem;
  background-color: #00424d;
  margin-top: 0.5rem;
}

p {
  font-family: "Merienda", cursive;
}

header {
  display: flex;
}

h1 {
  font-family: "Kreon", serif;
  /* margin-left: 34rem; */
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 2.5rem;
  margin-top: 6rem;
}

h3 {
  font-family: "Grandstander", cursive;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}

.logo {
  height: 7rem;
  cursor: pointer;
}

.navlinks-group {
  display: flex;
  justify-content: end;
  margin-left: 30rem;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 1rem;
}

.nav-links {
  color: white;
  padding-left: 1rem;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.nav-links:hover,
nav ul li a:hover {
  color: aqua;
  transform: scale(1.09);
  transition: 0.5s ease;
  --_p: 100%;
}

nav ul li a {
  text-decoration: none;
  color: white;
  --s: 0.1em;
  --c: aqua;
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #000 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}

nav ul {
  list-style: none;
}

.loader {
  width: 60px;
  display: flex;
  justify-content: space-evenly;
}

.ball {
  list-style: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
}

.ball:nth-child(1) {
  animation: bounce-1 2.1s ease-in-out infinite;
}

@keyframes bounce-1 {
  50% {
    transform: translateY(-18px);
    background-color: aqua;
  }
}

.ball:nth-child(2) {
  animation: bounce-3 2.1s ease-in-out 0.3s infinite;
}

@keyframes bounce-2 {
  50% {
    transform: translateY(-18px);
    background-color: aqua;
  }
}

.ball:nth-child(3) {
  animation: bounce-3 2.1s ease-in-out 0.6s infinite;
}

@keyframes bounce-3 {
  50% {
    transform: translateY(-18px);
    background-color: aqua;
  }
}

.main-topic {
  display: flex;
  justify-content: flex-start;
}

.heading {
  color: white;
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-size: 1.7rem;
  margin-top: 0;
  line-height: 3rem;
  text-align: center;
}

.heading {
  position: relative;
  display: inline-block;
  color: white;
  transition: color 0.5s ease;
}

.heading::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    #fd004c,
    #fe9000,
    #fff020,
    #3edf4b,
    #3363ff,
    #b102b7
  );
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.heading:hover {
  color: aqua;
}

.heading:hover::before {
  transform: scaleX(1);
}

.blog-items {
  display: flex;
  position: absolute;
  background: none;
  margin-top: 8rem;
}

.swiper-wrapper {
  display: flex;
}

.txt-topic {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: white;
  text-transform: uppercase;
}

.text {
  background: none;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.336);
  margin-top: 10rem;
  font-size: 1.2rem;
  letter-spacing: 4px;
}

.herosection {
  display: flex;
}

.mainlogo {
  width: 35rem;
  height: 25rem;
  padding-left: 10rem;
  margin-right: 0;
}

.main-topic-blog {
  display: flex;
  flex-direction: column;
}

/* //===================================================================== */

.img-place {
  height: 14rem;
  cursor: pointer;
  position: absolute;
}

.imgplace {
  display: flex;
}

.topic-card {
  position: relative;
  background: none;
  margin-left: 3.6rem;
  margin-top: 10rem;
  color: white;
  letter-spacing: 3px;
}

.tranding-slide {
  padding: 1rem;
  background: none;
}

.tranding-slide:hover {
  transform: scale(1.04);
  transition: 1s ease;
}

.tranding-slider-control {
  display: flex;
  cursor: pointer;
  color: #fcfffc;
  margin-top: 17rem;
  margin-left: 15rem;
}

.discription {
  margin: 4rem;
  margin-top: 6rem;
  border: #ffffff solid;
  border-radius: 1rem;
  padding: 3rem;
}

.paragraph {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 2px;
  text-align: center;
}

.frame {
  border: white solid;
  padding: 1rem;
  border-radius: 2rem;
  margin: 1.2rem;
}

.frame:hover {
  transform: scale(1.04);
  transition: 1s ease;
  box-shadow: 0px 4px 0px 0px #ffffff;
}

.one-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iframe-heading {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.feedbacks {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
  text-transform: uppercase;
}

.gallery{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: linear-gradient(to right ,#2c5364,#0f2027); */
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider{
  position: relative;
  width: 250px;
  height: 250px;
  transform-style: preserve-3d;
  animation: rotate 30s linear infinite;
  margin-left: 33rem;
  margin-top: 8rem;
}

@keyframes rotate{
  0%{
    transform: perspective(1000px) rotateY(0deg);
  }
  100%{
    transform: perspective(1000px) rotateY(360deg);
  }
}

.slider span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

.slider span img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  object-fit: cover;
  transition: 2s;
}

.slider span:hover img{
  transform: translateY(-30px) scale(1.2);
}


.form {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form .title {
  color: royalblue;
  background: none;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  outline: 0;
  background: none;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 90%;
  height: 50px;
}

.form textarea {
  border-radius: 8px;
  height: 100px;
  width: 90%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  background: none;
  border: 1px solid rgb(219, 213, 213);
}

.form button {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
}

.contantus-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.backpiccontact{
  height: 40rem;
  padding-bottom: 5rem;
}