* {
  font-family: "Roboto", sans-serif;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  background-color: #00424d;
  margin-top: 0.5rem;
}

header {
  display: flex;
}

.logo {
  height: 7rem;
  cursor: pointer;
}

.navlinks-group {
  display: flex;
  justify-content: end;
  margin-left: 30rem;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 1rem;
}

.nav-links {
  color: white;
  padding-left: 1rem;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.nav-links:hover,
nav ul li a:hover {
  color: aqua;
  transform: scale(1.09);
  transition: 0.5s ease;
  --_p: 100%;
}

nav ul li a {
  text-decoration: none;
  color: white;
  --s: 0.1em;
  --c: aqua;
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #000 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}

nav ul {
  list-style: none;
}
.main-topic {
  display: flex;
  justify-content: flex-start;
}
.heading {
  color: white;
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
  margin-top: 1rem;
  line-height: 3rem;
  text-align: center;
}

.heading {
  position: relative;
  display: inline-block;
  color: white;
  transition: color 0.5s ease;
}

.heading::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    #fd004c,
    #fe9000,
    #fff020,
    #3edf4b,
    #3363ff,
    #b102b7
  );
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.heading:hover {
  color: aqua;
}

.heading:hover::before {
  transform: scaleX(1);
}

.blog-items {
  display: flex;
  position: absolute;
  background: none;
  margin-top: 8rem;
}

.swiper-wrapper{
  display: flex;
}

.card {
  position: relative;
  width: 200px;
  height: 280px;
  background: url("./img/AdobeStock_311936008_Preview\ 1.png");
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 1rem;
}

.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(0, 138, 138);
  transition: all 0.5s;
}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.card:hover::before,
.card:hover:after {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  border-radius: 15px;
  transition: all 0.5s;
}

.card:hover:after {
  content: "Click";
}

.txt-topic {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: white;
  text-transform: uppercase;
  
}

.text{
  background: none;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.336);
  margin-top: 10rem;
  font-size: 1.2rem;
  letter-spacing: 4px;
}
.herosection{
  display: flex;
  position: absolute;
}

.mainlogo{
  width: 35rem;
  height: 25rem;
  padding-left: 10rem;
  margin-right: 0;
}

.main-topic-blog{
  display: flex;
  flex-direction: column;
}
