h1{
    font-size: 500%;
    background-color: rgb(144, 122, 224);
    text-align: center;
}
h3{
    text-align: center;
    margin: 1;
    
    
}
.details{
    position: relative;
    margin-bottom: 50px;
    
}
.content{
    width: 100%;
    text-align: center;
    align-items: center;
    font-family: 'Courier Prime', monospace;
    background-color: rgb(144, 122, 224);
}
.content a{
    color: black;
 }