@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    background: #f9f9f9;
}

body{
   background: #f9f9f9;
   min-height: 100vh;
}

header{
   background: #f9f9f9
}