body{
  background-image: url(./images/green-tent-woods-background-beautiful-lake-camping-tent-pine-forest_431724-3052.avif) ;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100; 
}

.logo{
  margin-top: -1rem;
  width: 9rem;
  margin-right: 22rem;
}

.navigation{
  margin-top: 2rem;
  margin-left: -5rem;

}

.navigation a{
  text-decoration: none;
  color: #359381;
  padding: 6px 6px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600; 
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
  letter-spacing: 1px;
}

.navigation a:hover{
  background: #359381;
  color: #fff;
}